<div>
    all category
</div>
<div>
    <% for(category of categorise){%>
        <ul>
            <li>name: <%=category.name%></li>
            <li>disciption: <%=category.discription%></li>
            <li>status: <%=category.status%></li>
            <li><a href="/category/delete?id=<%=category._id%>">X</a></li>
            <li><a href="/category/update-status?id=<%=category._id%>&status=<%=category.status%>">update status</a></li>
        </ul>
    <%}%>
</div>